<html>
<head>
	<link rel = stylesheet type = text/css href="{{ url_for('static', filename = 'styles.css')}}">

</head>
<body>
<h1 class="delete-text"> Are you sure you want to delete {{song.name}} from the {{genre.name}} playlist? </h1>

<div class="delete-buttons">
<form class="confirm" method="POST">

<input type='submit', value = 'Delete'>

</form>

<form class="mainMenu" action="{{url_for('showSongs', genre_id = genre_id)}}">
    <input type="submit" value="Cancel" />
</form>

</div>


</body>

</html>