<html>
<head>
	<link rel = stylesheet type = text/css href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body>
	<a style="padding-left: 3%; text-decoration: underline;" href="/login">Login</a>
	<h1 class="genre-name">Music Genres</h1>

	<a class="add" href="{{url_for('newGenre')}}">Add a Genre</a>

	<br><br>
	<div>
	{% if genres %}
		{% for i in genres %}
		<div class="list">
			<div class="genre-div">
				<h3 class="genre"><a href="{{url_for('showSongs', genre_id = i.id)}}">{{i.name}}</a></h3>
			</div>
		</div>

		{% endfor %}
	{% else %}
		<h3> There are no genres here</h3>

	{% endif %}

	</div>


</body>




</html>